/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.debug {
    border: 1px solid red;
}
.debug1 {
    border: 1px solid green;
}

ul {
    list-style: none;
}

/* root */
:root {
    --color-light-blue: #b5d1e8;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #f5f5f5;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
}

/* global */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'open sans', sans-serif;
}

a {
    text-decoration: none;
}

.blue-box {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 5px 15px;
    width: 225px;
}

/* container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

/* flex */
.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.center {
    align-items: center;
}
.collumn {
    flex-direction: column;
}

/* spacings */
.gap {
    gap: 30px;
}

.padding {
    padding: 30px;
}
.padding-top {
    padding-top: 85px;
}

.margin-right {
    margin-right: 30px;
}
.margin-bottom {
    margin-bottom: 40px;
}
.width-30 {
    width: 30%;
}
.width-70 {
    width: 70%;
}


/* header */
header nav ul li a {
    color: var(--color-dark);
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-white);
}

/* main */
.bg-color {
    background-color: var(--color-light-blue);
}
h1 {
    font-size: 4.7em;
    padding: 5%;
}
#section-1{
    position: relative;
    top: 75px;
}
.arrow {
    position: relative;
    top: 35px;
    font-size: 40px;
}