/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.debug {
    border: 1px solid red;
}

.debug1 {
    border: 1px solid green;
}

ul {
    list-style: none;
}

/* root */
:root {
    --color-light-blue: #b5d1e8;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #dcdcde;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
}

/* global */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'open sans', sans-serif;
}

a {
    text-decoration: none;
}

.blue-box {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 5px 10px;
    /*  width: 225px; */
}

.button-grey {
    background-color: var(--color-grey);
    color: var(--color-dark);
    padding: 5px 10px;
    margin-top: 60px;
}

.txt-bold {
    font-weight: bold;
}

.txtgrey {
    color: var(--color-grey);
}

.txtgreen {
    color: var(--color-logo-green);
}

/* container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

/* flex */
.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.center {
    align-items: center;
}

.collumn {
    flex-direction: column;
}

.justyfy-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.flexstart {
    justify-content: flex-start;
}

/* spacings */
.gap {
    gap: 30px;
}

.padding {
    padding: 30px 30px;
}

.padding-30-0 {
    padding: 50px 0;
}

.padding-top {
    padding-top: 85px;
}

.margin-right {
    margin-right: 30px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-left165 {
    margin-left: 175px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.margin-top {
    margin-top: 55px;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
}

.width-50 {
    width: 50%;
}

.spacing ul li {
    margin-bottom: 20px;
}

/* .p-l150 {
    padding-left: 150px;
}
.p-t7 {
    padding-top: 7px;
}
.p-b7 {
    padding-bottom: 7px;
} */

.width-calc {
    width: calc((100% - 15px) /3);
}

/* header */
header nav ul li a {
    color: var(--color-dark);
    display: block;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-white);
}

/* main */
.bg-color {
    background-color: var(--color-light-blue);
}

h1 {
    font-size: 4.7em;
    padding: 5% 15%;
}

#section-1 {
    position: relative;
    top: 75px;
}

.arrow {
    position: relative;
    top: 35px;
    font-size: 40px;
}

#annual {
    margin-left: 50px;
}

h2 {
    font-size: 2.4em;
    padding: 20px 20px;
}

h3 {
    font-size: 1.7em;
    padding: 30px 0;
}

h4 {
    font-size: 1.2em;
    padding: 20px 0;
}

main div ul li a {
    text-decoration: underline;
    ;
}

.box {
    width: calc((100% - 20px) /3);
    border: 1px solid var(--color-grey);
}

.box1 {
    width: 1140px;
    border: 1px solid var(--color-grey);
}

.small-box {
    border-bottom: 1px solid var(--color-grey);
    padding-left: 150px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

#gridlogogrande .square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#gridlogogrande .square .box {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}


/* #gridlogogrande { */
/* display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
} */

/* .gridlogopiccolo { */
/* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 30%;
    height: 30%; */
/* } */
.central-logo {
    width: 55%;
    height: 55%;
}

.logowh {
    width: 50%;
    height: 50%;
}

.bglogo-green {
    background-color: var(--color-logo-green);
}

.bglogo-purple {
    background-color: var(--color-logo-second);
}

.bglogo-blue {
    background-color: var(--color-logo-third);
}

.bglogo-light-red {
    background-color: var(--color-logo-light-red);
}

.bglogo-red {
    background-color: var(--color-logo-red);
}

.bglogo-light-blue {
    background-color: var(--color-light-blue);
}

.bg-logo-blue {
    background-color: var(--color-logo-blue);
}

.bglogo-yellow {
    background-color: var(--color-logo-yellow);
}

.pos-rel {
    position: relative;
    top: 60px;
    right: 140px;
}

.faq-carret {
    position: relative;
    left: 20%;
}

.faq-border {
    border-bottom: 1px solid var(--color-grey);
}
/* footer */
.bg-footer {
    background-color: var(--color-dark);
    color: var(--color-white);
}
footer a {
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
}
.margin-right {
    margin-right: 136px;
}